:root{
    --colorPrincipal: rgb(56, 153, 153);
    --color-menu:#F9ECEC;
    --color-black:rgb(13, 12, 12);
    --color-blue: #181d44;
    --color-telegram: #229ED9; 
    --color-whatsapp:#25D366;
    --color-linkedin:#0e76a8;
    

}
.port_init{
    background-color: var(--color-black);
    width: 100vw;
    min-height:50vh;
}
.header{
    display: flex;  
    padding: 1.5em;
    justify-content: space-between;  
    
   
}
.list_navbar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    z-index:5;
    
}

.list_navbar a{
    text-decoration: none;
    color:var(--color-menu);  
    font-size: 1rem;
    padding-right: 1em;
    
    
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px; 
    background-color: var(--color-black) ;    
    display: flex;
    justify-content: space-between;
    z-index: 5;
    
}


.list_navbar a:hover{
    color: var(--colorPrincipal);
}

img{
    display: block;
    width: 100%;
    
}


.img_logo{
    display: block;
    width: 100%;
    border-radius: 2em;
    /* para quitar el fondo blanco */
    /* filter: brightness(1,1);
    mix-blend-mode: multiply;
     */
     border:  0.1em solid  var(--colorPrincipal);
     background-color: var(--colorPrincipal);
    

}
.div_img{
    /* margin-top: 4em; */
    margin-left: 1em;
    width: 5rem;
        
}
.img_header{
    
    width: 90%;
    height:80%;
    border-radius: 0.5em;
    -webkit-mask: linear-gradient(var(--color-black) 10%,transparent 100%);
    
    
       
}



#main{
    
    opacity: 60%;
    /* filter: brightness(70%);  */
    display: flex;
    
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 90vw;
    height: 50vw;
    background-color: var(--color-black);   
    
    
    }
.inf_content{
    
    /* backdrop-filter: blur(5px); */
    width: 70%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    
    z-index: 1;
    
    font-size: 1.3vw;
    top: 50%;
    text-shadow: 2px 2px 2px rgb(0,0,0, .9);
}
.name{
    color: var(--colorPrincipal);
   
}
.button_content{
    
    background-color: var(--colorPrincipal);
    color: #000;
    width: 23%;
    height: 20%;
    padding: 5px 5px;
    border-radius: 1rem;
    border: none;
    margin-top: 2em;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(102,231,200, .79);
    
}


.cv{
    text-decoration: none;
}
.button_content:hover{
    box-shadow: none;
    background-color: rgb(132, 216, 216);
    

}
#about_me{
    width: 100vw;
    background-color: var(--color-black) ;  
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,2fr));
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    
    
    
    

    
    
}
.title_about{
    color:var(--colorPrincipal);
   
}
.paraf_about{
    color: rgb(160, 153, 153);
    
    
}
.img_ing{
    width:20%;    
    display: flex;
    justify-content: center;
    
    /* border: 0.3em solid var(--colorPrincipal); */
    border-radius: 1em;
    /* opacity: 70%; */
    box-shadow: 20px 20px 1px 1px rgb(102,231,200, .79);
    filter: brightness(60%); 

}

.hability{
    
    width: 22%;
}
.about_inf{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1em;
    line-height: 1.5em;
    width: 20em;
    justify-content: center;
    
    
}
.lenguajes{
    
    background-color: var(--color-menu);
    overflow: hidden;
    border-radius: 1em;
    position: relative;
    height: 20px;
    font-size: 0.5rem;
    margin: 1em 0;
    
    

}


.lenguajes_bar{
    height: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,47,121,1) 36%, rgba(0,212,255,1) 100%);
    width: 50%;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.title_habilities{
    color: var(--colorPrincipal);
}
.repositorio{
    color: var(--color-menu);
    text-decoration: none;
    width: 20em;
}

#portafolio{
    max-width: 100vw;
    width: 100%;
    background-color: var(--color-black) ;
    
    align-items: center;    
    text-align: center;
    
    
}
.parra_portafolio {
    color:var(--color-menu);
}
.title_portafolio{
    color: var(--colorPrincipal);
}
.title_my_portafolio{
    line-height: 2em;
    width: 100%;    
    padding: 5em 0 0 0;
    
}


/* .container{
    
} */
 .container_portafolio{
    
    position: relative;
    /* aspect-ratio: 1.9; */
    border-radius: 0.5em;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 2em 0 0 3em;
    padding: 1em;
    border-radius: 2em;
    justify-content: center;
    
    
 }

 .img_protafolio{
   object-fit: contain;
   border-top-left-radius: 0.5em;
   border-top-right-radius:0.5em ;
   cursor: pointer;
   width: 100%;
    max-width: 350px;
   padding: 1.5em;
    
 }

 /* .img_protafolio:hover{
    transform: scale(1.05);
 } */

 .proyectos{
    position: absolute;
    background-color: #00000090;
    font-size: 0.8rem;
    color: var(--color-menu);
    width: 100%;
    max-width: 350px;
   padding: 0.5em;
   transform: translateY(-200%);
   transition: all 0.5s;
   
    
 }

 .proyectos:hover{
    transform: translateY(0);
    color: var(--colorPrincipal);
 }
 .linkPro{
    text-decoration:none;
 }

 #contacto{
    max-width: 100vw;
    width: 100%;
    background-color: var(--color-black) ;
    
    align-items: center;    
    text-align: center;

 }

 .container_enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
 }

 .enlaces{
    font-size: 3rem;
    padding: 0.5em;
 }

 .title_contact{
    color: var(--colorPrincipal);
    text-transform: capitalize;
    padding: 1em;

 }

 .bxl-telegram{
   
    background-color: var(--colorPrincipal);
    width:1.5em ;
    height: 1em;    
    border-radius: 10%;
 }


 .bxl-linkedin{
    background-color: var(--colorPrincipal);
    width:1.5em ;
    height: 1em;    

 }

 .bxl-whatsapp{
    background-color: var(--colorPrincipal);
    width:1.5em ;
    height: 1em;    
    border-radius: 0.2em;
 }

 .bx-envelope{
    background-color: var(--colorPrincipal);
    color: var(--color-menu);
    width:1.5em ;
    height: 1em;    
    border-radius: 0.2em;

 }
.icons_tecn{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    text-align: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    justify-content: center;
    
}
 .bxl-html5,.bxl-css3,.bxl-javascript,.bxl-react,.bxl-nodejs,.bxl-postgresql{
    font-size: 3rem;
    padding: 0.2em;
    
 }
 .bxl-html5:hover{
    transform: scale(1.05);
    
 }
 .bxl-css3:hover,.bxl-nodejs:hover,.bxl-postgresql:hover{
    transform: scale(1.05);
    
 }

 .bxl-javascript:hover{
    transform: scale(1.05);
    
 }

 .bxl-react:hover{
    transform: scale(1.05);
    
 }

 .bxl-html5{
    color:#E7A42B;
    background-color: var(--color-menu);
    
      
 }

 .bxl-css3{
    color:#0000ff ;
    background-color: var(--color-menu);
    
      
 }

 .bxl-javascript,.bxl-nodejs,.bxl-postgresql{
    color:#FFD600;
    background-color: var(--color-black);
    border: var(--color-menu) solid 0.2px ;
    
      
 }
.bxl-nodejs,.bxl-postgresql{
    color:var(--color-menu);
    background-color: var(--color-black);
    border: var(--color-menu) solid 0.2px ;
    
      
 }
 .bxl-react{
    color:#61DBFB ;
    background-color: var(--color-menu);
    
      
 }
.nav_toggle{
    
    display: none
}
.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: white;
  }


@media(max-width:800px){
    /* .port_init{
        

        min-height:45vh;
    } */
    #main{
        justify-content: center;
        display: flex;
        top: 2.3em;
    }

    
.img_logo{
    display: block;
    width: 80%;
    border-radius: 2em;
 
     border:  0.1em solid  var(--colorPrincipal);
    

}

  .button_content{
    padding: 5px 5px;
    font-size: 0.4rem;
    background-origin: padding-box;
    

  }
  .inf_content{
    
    
    top: 40%;
    
}



#about_me{
   
   gap: 1em;
   /* justify-content:flex-start; */

}
.about_inf{
    align-items: center;
    margin-left: 2em;
    
}

.img_ing{
    width:30%;
    margin: 1em 0 1em 0;
    box-shadow: 10px 10px 1px 1px rgb(102,231,200, .79);   

}

.hability{
    
    width: 70%;
}

.navbar{
    
    display: flex;
    flex-direction: column;
    
    
}

.list_navbar{
    
    position: absolute;
    display: flex;
    flex-direction: column;

    height: 200px;
    top: 30px;
    width: 100%;
    background-color: var(--color-menu);
    transform: translate(-100%);
    transition: 0.3s ease all;
    opacity: 90%;
    /* border-top-right-radius:0.2em ;
    border-bottom-right-radius: 0.2em; */
    justify-content: end;
    
    
}
.list_navbar.open{
    transform: translateX(0) !important;
}
.nav_toggle{
    display: flex !important;
    position: absolute;
    font-size: 2em;
    background-color: #000;
    width: 100%;
    
    justify-content: right;
    
        
}


.nav_toggle.open > span{
    transform: rotate(45deg) translate(0px,0px);

  }

  .nav_toggle.open > span:nth-child(2){
    display: none;
  }

  .nav_toggle.open > span:nth-child(3){
    transform: rotate(-45deg) translate(-5px,1px);
  }

  .list_navbar a{
    
    color:var(--color-black);  
    
    
    
}

.proyectos{
    max-width: 280px;
    width: 100%;
    justify-content: center;
    
    
}


}