:root{
    --colorPrincipal: rgb(56, 153, 153);
    --color-menu:#F9ECEC;
    --color-black:rgb(13, 12, 12);
    --color-blue: #181d44;
}
.port_init{
    background-color: var(--color-black);
    min-height:50vh;
}
.header{
    display: flex;  
    padding: 1.5em;
    justify-content: space-between;  
    
   
}
.list_navbar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

.list_navbar a{
    text-decoration: none;
    color:var(--color-menu);  
    font-size: 1rem;
    padding-right: 1em;
    
    
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px; 
    background-color: var(--color-black) ;    
    display: flex;
    justify-content: space-between;
    
    
}


.list_navbar a:hover{
    color: var(--colorPrincipal);
}

img{
    display: block;
    width: 100%;
    
}


.img_logo{
    display: block;
    width: 100%;
    border-radius: 2em;
    /* para quitar el fondo blanco */
    /* filter: brightness(1,1);
    mix-blend-mode: multiply;
     */
     border:  0.1em solid  var(--colorPrincipal);
    

}
.div_img{
    /* margin-top: 4em; */
    margin-left: 1em;
    width: 5rem;    
}
.img_header{
    
    width: 80%;
    height: 80%;
    border-radius: 0.5em;
    opacity: 30%;
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
    /* margin: 0 0 2em 3em;
    border: 0.3em solid var(--colorPrincipal);
    border-radius: 10%; */
}

#main{
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 80vw;
    height: 40vw;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,2fr));
    align-items: center;
    gap: 10em; */
    
}
.inf_content{
    
    width: 70%;
    position: absolute;
    font-size: 1.3vw;
    top: 50%;
    text-shadow: 2px 2px 8px rgb(0,0,0, .9);
}
.name{
    color: var(--colorPrincipal);
   
}
.button_content{
    background-color: var(--colorPrincipal);
    color: #000;
    padding: 10px 20px;
    border-radius: 1rem;
    border: none;
    margin-top: 2em;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(102,231,200, .79);
}

.button_content:hover{
    box-shadow: none;
    background-color: rgb(132, 216, 216);

}
#about_me{
    width: 100vw;
    background-color: var(--color-black) ;  
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,2fr));
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    gap: 8em;
    justify-content: center;

    
    
}
.title_about{
    color:var(--colorPrincipal);
   
}
.paraf_about{
    color: rgb(160, 153, 153);
    
}
.img_ing{
    width:25%;
    margin: 0 0 2em 7em;
    display: flex;
    justify-content: center;
    
    /* border: 0.3em solid var(--colorPrincipal); */
    border-radius: 1em;
    /* opacity: 70%; */
    box-shadow: 20px 20px 1px 1px rgb(102,231,200, .79);
    filter: brightness(60%); 

}
.about_inf{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1em;
    line-height: 1.5em;
    width: 20em;
    justify-content: center;
    
    
}
.lenguajes{
    background-color: var(--color-menu);
    overflow: hidden;
    border-radius: 1em;
    position: relative;
    height: 20px;
    font-size: 0.5rem;
    margin: 1em 0;

}

.lenguajes_bar{
    height: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,47,121,1) 36%, rgba(0,212,255,1) 100%);
    width: 50%;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.repositorio{
    color: #696767;
    text-decoration: none;
    width: 20em;
}

#portafolio{
    background-color: red;
    
}
.title_portafolio ,.parra_portafolio {
    color: #000;
}

.nav_toggle{
    
    display: none
}
.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: white;
  }
/* .parra_portafolio{
    color: #000;
} */

@media(max-width:800px){
    #main{
        justify-content: center;
        display: flex;
        top: 2.3em;
    }

    
.img_logo{
    display: block;
    width: 80%;
    border-radius: 2em;
 
     border:  0.1em solid  var(--colorPrincipal);
    

}

  .button_content{
    
    font-size: 0.3rem;
  }
  .inf_content{
    
    
    top: 40%;
    
}

#about_me{
   gap: 1em;
   justify-content:flex-start;

}
.about_inf{
    align-items: center;
    margin-left: 2em;
    
}

.img_ing{
    width:40%;
    display: flex;
    justify-content: center;
    
    

}

.navbar{
    display: flex;
    flex-direction: column;
    
}

.list_navbar{
    
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 200px;
    top: 30px;
    width: 100%;
    background-color: white;
    transform: translate(-100%);
    transition: 0.3s ease all;
}
.list_navbar.open{
    transform: translateX(0) !important;
}
.nav_toggle{
    display: flex !important;
    position: absolute;
    font-size: 1.5em;
    background-color: #000;
    
    
        
}


.nav_toggle.open > span{
    transform: rotate(45deg) translate(0px,0px);

  }

  .nav_toggle.open > span:nth-child(2){
    display: none;
  }

  .nav_toggle.open > span:nth-child(3){
    transform: rotate(-45deg) translate(-5px,1px);
  }

  .list_navbar a{
    
    color:var(--color-black);  
    
    
    
}


}